.layout {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling on the entire layout */
}

.Sidemenu {
  flex: 0 0 250px;
  background-color: #343a40;
  color: white;
  overflow-y: auto; /* Allow side menu to scroll if content overflows */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent scrolling on the content area */
}

.Title {
  flex: 0 0 auto;
  background-color: #f8f9fa;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.form-container {
  flex: 1;
  overflow-y: auto; /* Allow form container to scroll if content overflows */
  padding: 1rem;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-width: 400px;
  margin: auto;
  padding-bottom: 5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 25rem;
}

.bi-image {
  cursor: pointer;
  border: 1px solid black;
  padding: 2rem;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.submit-clear {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
