.right-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  padding-right: 1rem;
  height: 4.3rem;
  background-color: #ccc;
}

.right-header .divider {
  width: 0.1rem;
  height: 1.8rem;
  border-radius: 5rem;
  background-color: #a1a1a1;
  margin: 0 0.7rem;
}

.right-header .icon {
  font-size: 1.5rem;
  margin-left: 0.25rem;
}

.right-header .gear {
  margin-left: 0.1rem;
}

.right-header .dots:hover,
.right-header .icon:hover,
.right-header .header-function-btns:hover {
  cursor: pointer;
}

.right-header .header-function-btns {
  background-color: #dce7f9;
  padding: 0.4rem 0.6rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  transition: 0.2s ease-out;
}

.right-header .header-function-btns:hover {
  transform: scale(1.1);
}

.right-header .company {
  padding: 0 1.3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.right-header .profile-img {
  padding-right: 1rem;
  font-size: 2rem;
}

.right-header .dots {
  display: none;
  font-size: 2rem;
  margin-right: 1rem;
  padding: 0.2rem 0.2rem;
  border-radius: 5rem;
  background-color: #b7b7b7d0;
}

@media (max-width: 768px) {
  .right-header .dots {
    display: block;
  }

  .right-header .header-function-btns,
  .right-header .company,
  .right-header .profile-img,
  .right-header .divider {
    display: none;
  }
}

@media (min-width: 769px) {
  .right-header .dots {
    display: none;
  }

  .right-header .header-function-btns,
  .right-header .company,
  .right-header .profile-img,
  .right-header .divider {
    display: block;
  }
}
