.title-wrapper {
  background-color: rgb(186, 238, 239);
}

.title {
  background: linear-gradient(to right, #252525, #3e3e3e, #9f9f9f, #d7d7d7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 0.2rem 0 0 1rem;
}

.title-divider {
  border-top: 2px solid #ffffff;
  background-color: rgb(212, 212, 212);
  margin: 0;
}
